/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ---------------------------- custom css start ---------------------------- */
.container {
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto;
}
.react-icon {
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

nav .logo {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 30px;
}

nav ul li a {
  color: #FFF;
}

nav ul li a.active {
  font-weight: 700;
}

nav a:hover {
  text-decoration: none !important;
  color: inherit;
}

nav .cartIcon span {
  position: absolute;
  top: calc(0px - 12px);
  right: calc(0px - 10px);
  width: 20px;
  height: 20px;
  background: #F90;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
}

/* -------------------------------- products : start -------------------------------- */
.home-container {
  padding-top: 70px;
}

.common.products {
  /* padding-top: 100px; */
  padding-left: 220px;
}

.products-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.products-list .product-wrapper {
  width: 25%;
  padding: 8px;
}

.products-list .product-wrapper .product-card {
  padding: 10px 0 0;
  position: relative;
  border: 1px solid #000;
}

.products-list .product-wrapper .product-card .product_img {
  text-align: center;
}

.products-list .product-wrapper .product-card .product_img img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.products-list .product-wrapper .product-card .product-detail .product_title {
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
}

.products-list .product-wrapper .product-card .product-detail .product_price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 10px;
}

.products-list .product-wrapper .product-card .product-detail .product_category {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  font-weight: 550;
  padding: 5px 10px;
  background: yellowgreen;
  width: fit-content;
  overflow: hidden;
}

.products-list .product-wrapper .product-card .product-detail .product_category::before {
  position: absolute;
  content: '';
  top: 0;
  right: -7px;
  width: 10px;
  height: 100%;
  background-color: yellowgreen;
  transform: skewX(-9deg);
}

.products-list .product-wrapper .product-card .product-detail .product_category::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(90deg, #ffffff03, #e9e2e299);
  transform: skewX(15deg);
  animation-name: xPass;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-direction: normal;
}

@keyframes xPass {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}


.products-list .product-wrapper .product-card .product-detail .product_rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(173, 62, 62);
  color: #FFF;
  padding: 5px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 550;
}

.products-list .product-card .primary-btn,
.products-list .product-card .secondary-btn {
  width: 90%;
  display: block;
  margin: 10px auto;
}


/* ----------------------------- primary-button ----------------------------- */

.primary-btn {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 550;
  color: #FFF;
  border: none;
  border-radius: 4px;
  background: #166616c2;
}

.secondary-btn {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 550;
  color: #FFF;
  border: none;
  border-radius: 4px;
  background: #ec5757;

}

/* --------------------------------- sidebar -------------------------------- */
.sidebar {
  max-width: 220px;
  background: #55c5d799;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
}


.sidebar .label-v1,
.sidebar .filterprice {
  font-size: 12px;
  line-height: 15px;
  font-weight: 550;
}

.sidebar .filterprice {
  font-weight: 700;
}